
-- ============================================
-- ECZANE OTOMASYONU VERİTABANI TABLOLARI
-- ============================================

-- 1. KULLANICILAR TABLOSU
CREATE TABLE IF NOT EXISTS users (
    id SERIAL PRIMARY KEY,
    username VARCHAR(50) UNIQUE NOT NULL,
    password_hash VARCHAR(255) NOT NULL,
    role VARCHAR(20) NOT NULL DEFAULT 'personel',
    full_name VARCHAR(100),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- 2. İLAÇLAR TABLOSU
CREATE TABLE IF NOT EXISTS drugs (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    active_ingredient VARCHAR(100),
    price DECIMAL(10, 2) NOT NULL,
    stock_quantity INTEGER NOT NULL DEFAULT 0,
    low_stock_threshold INTEGER DEFAULT 10,
    description TEXT,
    barcode VARCHAR(50),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- 3. MÜŞTERİLER TABLOSU
CREATE TABLE IF NOT EXISTS customers (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    tc_no VARCHAR(11),
    phone VARCHAR(20),
    email VARCHAR(100),
    address TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- 4. SATIŞLAR TABLOSU
CREATE TABLE IF NOT EXISTS sales (
    id SERIAL PRIMARY KEY,
    drug_id INTEGER REFERENCES drugs(id) ON DELETE SET NULL,
    customer_id INTEGER REFERENCES customers(id) ON DELETE SET NULL,
    quantity INTEGER NOT NULL,
    unit_price DECIMAL(10, 2) NOT NULL,
    total_price DECIMAL(10, 2) NOT NULL,
    its_transaction_id VARCHAR(50),
    sale_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    created_by INTEGER REFERENCES users(id),
    notes TEXT
);

-- 5. STOK HAREKETLERİ TABLOSU (Log)
CREATE TABLE IF NOT EXISTS stock_movements (
    id SERIAL PRIMARY KEY,
    drug_id INTEGER REFERENCES drugs(id),
    movement_type VARCHAR(20) NOT NULL, -- 'purchase', 'sale', 'adjustment'
    quantity_change INTEGER NOT NULL,
    previous_quantity INTEGER NOT NULL,
    new_quantity INTEGER NOT NULL,
    reason TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    created_by INTEGER REFERENCES users(id)
);

-- 6. UYARILAR TABLOSU
CREATE TABLE IF NOT EXISTS alerts (
    id SERIAL PRIMARY KEY,
    drug_id INTEGER REFERENCES drugs(id),
    alert_type VARCHAR(20) NOT NULL, -- 'low_stock', 'critical_stock'
    message TEXT NOT NULL,
    is_read BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- ============================================
-- DEMO VERİLERİ
-- ============================================

-- DEMO KULLANICILAR (şifreler: admin123 ve 123)
INSERT INTO users (username, password_hash, role, full_name) VALUES
('yonetici', '$2b$12$EixZaYVK1fsbw1ZfbX3OXePaWxn96p36WQoeG6Lruj3vjPGga31lW', 'Yönetici', 'Eczane Yöneticisi'),
('personel', '$2b$12$EixZaYVK1fsbw1ZfbX3OXePaWxn96p36WQoeG6Lruj3vjPGga31lW', 'Personel', 'Eczane Personeli')
ON CONFLICT (username) DO NOTHING;

-- DEMO İLAÇLAR
INSERT INTO drugs (name, active_ingredient, price, stock_quantity, low_stock_threshold, description) VALUES
('Parol', 'Parasetamol', 50.00, 100, 10, 'Ağrı kesici ve ateş düşürücü'),
('Majezik', 'Flurbiprofen', 85.00, 20, 5, 'Anti-enflamatuar ağrı kesici'),
('Aspirin', 'Asetilsalisilik Asit', 30.00, 5, 10, 'Kan sulandırıcı ve ağrı kesici'),
('Augmentin', 'Amoksisilin', 120.00, 3, 5, 'Antibiyotik'),
('Ventolin', 'Salbutamol', 45.00, 15, 8, 'Astım ilacı')
ON CONFLICT (name) DO NOTHING;

-- DEMO MÜŞTERİLER
INSERT INTO customers (name, tc_no, phone) VALUES
('Ahmet Yılmaz', '12345678901', '05551234567'),
('Ayşe Demir', '98765432109', '05557654321'),
('Mehmet Kaya', '45678912345', '05559876543')
ON CONFLICT (tc_no) DO NOTHING;

-- ============================================
-- INDEX'LER (Performans için)
-- ============================================

CREATE INDEX IF NOT EXISTS idx_drugs_name ON drugs(name);
CREATE INDEX IF NOT EXISTS idx_drugs_stock ON drugs(stock_quantity);
CREATE INDEX IF NOT EXISTS idx_sales_date ON sales(sale_date);
CREATE INDEX IF NOT EXISTS idx_sales_drug ON sales(drug_id);
CREATE INDEX IF NOT EXISTS idx_customers_tc ON customers(tc_no);

-- ============================================
-- TABLO BİLGİLERİ
-- ============================================

COMMENT ON TABLE users IS 'Sistem kullanıcıları tablosu';
COMMENT ON TABLE drugs IS 'İlaç bilgileri ve stok tablosu';
COMMENT ON TABLE customers IS 'Müşteri bilgileri tablosu';
COMMENT ON TABLE sales IS 'Satış kayıtları tablosu (İTS entegrasyonlu)';
COMMENT ON TABLE stock_movements IS 'Stok hareketleri log tablosu';
COMMENT ON TABLE alerts IS 'Stok uyarıları tablosu';